body {
    background: var(--grayscale20);
    padding: 40px 130px;
}

/* Header */
.header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    height: 57px;
    width: auto;
}

.btn-go-to-answer {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--brown10);
    border: 1px solid var(--brown40);
    color: var(--brown40);
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

/* Main Container */
.list-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.list-title {
    font-size: 40px;
    font-weight: 400;
    color: var(--grayscale60);
}

/* Sort Dropdown */
.sort-button {
    display: flex;
    padding: 8px 12px;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid var(--Grayscale-60, #000);
    background: var(--Grayscale-10, #FFF);
    font-size: 14px;
}
